.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin: -30px auto 0;
  background-color: #fff;
  min-width: 320px;
  max-width: 800px;
  width: 80%;
  border-radius: 4px;
}

.noTasks {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
}

@media (min-width: 850px) {
  .container {
    padding-top: 50px;
    justify-content: center;
  }
}